*.pyc
torchkit/
*.pyc
vocabularies/german-wiki-word-vocab-*txt
vocabularies/italian-wiki-word-vocab-*txt
vocabularies/english-wiki-word-vocab-*txt
results/
crypticity/
python27
small-john-job.sh
*.pdf
figures/
outputs/
output/
*.swp
*.swo
*.swl
*.swm
*.swn
*.swd
*.swe
*.swf
*.swg
*.swh
*.swi
*.swj
*.swk
temporary-stimuli/
slurm*.out
autoencoder-output/autoencoder2_mlp_bidir_Erasure_SelectiveLoss_sample_stimuli.py.tsv
corpus/txt.txt
outputGeneration/
